<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->  <!--<![endif]-->
<head>
  <title>Our Love House</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
      @font-face {
          font-family: digit;
          src: url('font/testmy.ttf') format("truetype");
      }
  </style>
  <link href="styles/default.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/garden.js"></script>
  <script type="text/javascript" src="js/functions.js"></script>
</head>

<body>
<audio src="font/happybirthday.mp3" controls="controls">
</audio>

<div id="mainDiv">
  <div id="content">
    <div id="code">
      当你老了</br>
      当你老了，头白了，睡意昏沉，    </br>
      炉火旁打盹，请取下这部诗歌，    </br>
      慢慢读，回想你过去眼神的柔和，  </br>
      回想它们昔日浓重的阴影；        </br>     </br>
      多少人爱你青春欢畅的时辰，       </br>
      爱慕你的美丽，假意或真心，       </br>
      只有一个人爱你那朝圣者的灵魂，     </br>
      爱你衰老了的脸上痛苦的皱纹；      </br>    </br>
      垂下头来，在红光闪耀的炉子旁，     </br>
      凄然地轻轻诉说那爱情的消逝，      </br>
      在头顶的山上它缓缓踱着步子，      </br>
      在一群星星中间隐藏着脸庞。       </br>

    </div>

    <div id="loveHeart">
      <canvas id="garden"></canvas>
      <div id="words">
        <div id="messages">
          徒儿，生日快乐！
          <div id="elapseClock"></div>
        </div>
        <div id="loveu">
          Be always with you.<br/>
          <div class="signature">- WADV1232</div>
        </div>
      </div>
    </div>
  </div>
  <div id="copyright">
    Copyright @ 2014-6-24 WANG (XXX) LONG    #^_^#
  </div>
</div>
<script type="text/javascript">
    var offsetX = $("#loveHeart").width() / 2;
    var offsetY = $("#loveHeart").height() / 2 - 55;
    var together = new Date();
    together.setFullYear(2013,9, 24);
    together.setHours(23);
    together.setMinutes(10);
    together.setSeconds(0);
    together.setMilliseconds(0);

    if (!document.createElement('canvas').getContext) {
        var msg = document.createElement("div");
        msg.id = "errorMsg";
        msg.innerHTML = "Your browser doesn't support HTML5!<br/>Recommend use Chrome 14+/IE 9+/Firefox 7+/Safari 4+";
        document.body.appendChild(msg);
        $("#code").css("display", "none")
        $("#copyright").css("position", "absolute");
        $("#copyright").css("bottom", "10px");
        document.execCommand("stop");
    } else {
        setTimeout(function () {
            startHeartAnimation();
        }, 5000);

        timeElapse(together);
        setInterval(function () {
            timeElapse(together);
        }, 500);

        adjustCodePosition();
        $("#code").typewriter();
    }
</script>
</body>
</html>

